body
{
    
    background: #6A5ACD;
    margin: 0;
}

.container
{
	background-color: #6A5ACD;
    margin: 85px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 2em;
}

.container >div{
    background: #eee;  
    border: 1px solid #333;
    box-shadow: 3px 3px 3px black;
}


.col-1
{
    grid-column: 1;
    grid-row: 1/3;
}

.col-2
{
    padding: 2em;
    grid-column: 2;
    grid-row: 1;
}

.col-3
{
    padding: 2em;
    grid-column: 2;
    grid-row: 2;
}

img {
  width: 100%;
}

.padText
{
    margin-top: 0.5em;
    margin-left: 1em;

}

.font 
{
    color: #8707FF;
}

hr {
border: 1.2px solid gray;
}
